In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('pre_processing_complete.csv', index_col=0)

In [3]:
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,3.750,65000.0,360.0,2015-12-01,59.0,2046-01-01,74.0,1.0,31.0,N,FRM,N,N,N,814.0,0
1,100000549022,2020-12-01,4.000,4.000,153000.0,360.0,2016-01-01,58.0,2046-02-01,95.0,2.0,17.0,N,FRM,N,N,N,788.0,0
2,100003006281,2020-11-01,3.625,3.625,114000.0,360.0,2016-03-01,54.0,2046-04-01,95.0,2.0,37.0,Y,FRM,N,N,N,745.0,0
3,100003784303,2020-12-01,3.875,3.875,150000.0,360.0,2016-03-01,56.0,2046-04-01,70.0,2.0,16.0,N,FRM,N,N,N,810.0,0
4,100004643080,2020-12-01,4.250,4.250,40000.0,360.0,2015-12-01,59.0,2046-01-01,24.0,2.0,36.0,N,FRM,N,N,N,755.0,0

In [4]:
df.dtypes

Loan Identifier                         int64
Monthly Reporting Period               object
Original Interest Rate                float64
Current Interest Rate                 float64
Original UPB                          float64
Original Loan Term                    float64
Origination Date                       object
Loan Age                              float64
Maturity Date                          object
Original Loan to Value Ratio (LTV)    float64
Number of Borrowers                   float64
Debt-To-Income (DTI)                  float64
First Time Home Buyer Indicator        object
Amortization Type                      object
Modification Flag                      object
Home Ready Program Indicator           object
High Balance Loan Indicator            object
Minimum Credit Score                  float64
Foreclosed                              int64
dtype: object

In [5]:
df['Original Interest Rate'].value_counts()

3.875    670459
4.250    646632
4.375    555173
3.750    538963
4.125    533054
          ...
5.420         1
1.750         1
2.709         1
5.627         1
5.691         1
Name: Original Interest Rate, Length: 3154, dtype: int64

In [6]:
df['Current Interest Rate'].value_counts()

3.875    671172
4.250    646337
4.375    555040
3.750    539995
4.125    533307
          ...
2.638         1
3.023         1
2.664         1
6.175         1
5.691         1
Name: Current Interest Rate, Length: 3154, dtype: int64

In [7]:
df.drop(columns='Original Interest Rate', inplace = True)

In [8]:
df.head()

,Loan Identifier,Monthly Reporting Period,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,65000.0,360.0,2015-12-01,59.0,2046-01-01,74.0,1.0,31.0,N,FRM,N,N,N,814.0,0
1,100000549022,2020-12-01,4.000,153000.0,360.0,2016-01-01,58.0,2046-02-01,95.0,2.0,17.0,N,FRM,N,N,N,788.0,0
2,100003006281,2020-11-01,3.625,114000.0,360.0,2016-03-01,54.0,2046-04-01,95.0,2.0,37.0,Y,FRM,N,N,N,745.0,0
3,100003784303,2020-12-01,3.875,150000.0,360.0,2016-03-01,56.0,2046-04-01,70.0,2.0,16.0,N,FRM,N,N,N,810.0,0
4,100004643080,2020-12-01,4.250,40000.0,360.0,2015-12-01,59.0,2046-01-01,24.0,2.0,36.0,N,FRM,N,N,N,755.0,0

In [9]:
df[["Original UPB", 
    "Original Loan Term", 
    'Loan Age', 
    'Original Loan to Value Ratio (LTV)', 
    'Number of Borrowers',
   'Debt-To-Income (DTI)',
   'Minimum Credit Score']] = df[["Original UPB", 
                                  "Original Loan Term", 
                                  'Loan Age', 
                                  'Original Loan to Value Ratio (LTV)', 
                                  'Number of Borrowers',
                                  'Debt-To-Income (DTI)',
                                  'Minimum Credit Score']].astype('int')

In [10]:
df.head()

,Loan Identifier,Monthly Reporting Period,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,65000,360,2015-12-01,59,2046-01-01,74,1,31,N,FRM,N,N,N,814,0
1,100000549022,2020-12-01,4.000,153000,360,2016-01-01,58,2046-02-01,95,2,17,N,FRM,N,N,N,788,0
2,100003006281,2020-11-01,3.625,114000,360,2016-03-01,54,2046-04-01,95,2,37,Y,FRM,N,N,N,745,0
3,100003784303,2020-12-01,3.875,150000,360,2016-03-01,56,2046-04-01,70,2,16,N,FRM,N,N,N,810,0
4,100004643080,2020-12-01,4.250,40000,360,2015-12-01,59,2046-01-01,24,2,36,N,FRM,N,N,N,755,0

In [11]:
# change date columns back to datetime
df['Monthly Reporting Period'] = pd.to_datetime(df['Monthly Reporting Period'])
df['Origination Date'] = pd.to_datetime(df['Origination Date'])
df['Maturity Date'] = pd.to_datetime(df['Maturity Date'])

In [12]:
df.head()

,Loan Identifier,Monthly Reporting Period,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,65000,360,2015-12-01,59,2046-01-01,74,1,31,N,FRM,N,N,N,814,0
1,100000549022,2020-12-01,4.000,153000,360,2016-01-01,58,2046-02-01,95,2,17,N,FRM,N,N,N,788,0
2,100003006281,2020-11-01,3.625,114000,360,2016-03-01,54,2046-04-01,95,2,37,Y,FRM,N,N,N,745,0
3,100003784303,2020-12-01,3.875,150000,360,2016-03-01,56,2046-04-01,70,2,16,N,FRM,N,N,N,810,0
4,100004643080,2020-12-01,4.250,40000,360,2015-12-01,59,2046-01-01,24,2,36,N,FRM,N,N,N,755,0

In [13]:
# mapp dataframe and encode N and Y
df = df.replace(to_replace=['N', 'Y'], value=[0, 1])

In [14]:
df.head()

,Loan Identifier,Monthly Reporting Period,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,65000,360,2015-12-01,59,2046-01-01,74,1,31,0,FRM,0,0,0,814,0
1,100000549022,2020-12-01,4.000,153000,360,2016-01-01,58,2046-02-01,95,2,17,0,FRM,0,0,0,788,0
2,100003006281,2020-11-01,3.625,114000,360,2016-03-01,54,2046-04-01,95,2,37,1,FRM,0,0,0,745,0
3,100003784303,2020-12-01,3.875,150000,360,2016-03-01,56,2046-04-01,70,2,16,0,FRM,0,0,0,810,0
4,100004643080,2020-12-01,4.250,40000,360,2015-12-01,59,2046-01-01,24,2,36,0,FRM,0,0,0,755,0

In [15]:
df['Amortization Type'].value_counts()
# not needed as it only has one value count

FRM    8278657
Name: Amortization Type, dtype: int64

In [16]:
df.drop(columns='Amortization Type', inplace=True)

In [17]:
df.head()

,Loan Identifier,Monthly Reporting Period,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,65000,360,2015-12-01,59,2046-01-01,74,1,31,0,0,0,0,814,0
1,100000549022,2020-12-01,4.000,153000,360,2016-01-01,58,2046-02-01,95,2,17,0,0,0,0,788,0
2,100003006281,2020-11-01,3.625,114000,360,2016-03-01,54,2046-04-01,95,2,37,1,0,0,0,745,0
3,100003784303,2020-12-01,3.875,150000,360,2016-03-01,56,2046-04-01,70,2,16,0,0,0,0,810,0
4,100004643080,2020-12-01,4.250,40000,360,2015-12-01,59,2046-01-01,24,2,36,0,0,0,0,755,0

In [18]:
df.dtypes

Loan Identifier                                int64
Monthly Reporting Period              datetime64[ns]
Current Interest Rate                        float64
Original UPB                                   int32
Original Loan Term                             int32
Origination Date                      datetime64[ns]
Loan Age                                       int32
Maturity Date                         datetime64[ns]
Original Loan to Value Ratio (LTV)             int32
Number of Borrowers                            int32
Debt-To-Income (DTI)                           int32
First Time Home Buyer Indicator                int64
Modification Flag                              int64
Home Ready Program Indicator                   int64
High Balance Loan Indicator                    int64
Minimum Credit Score                           int32
Foreclosed                                     int64
dtype: object

In [19]:
# df.to_csv('Final_Clean_Data.csv')

In [23]:
# from config import username, password
# from sqlalchemy import create_engine
# import psycopg2

# # write to sql
# engine =create_engine(f'postgresql://{username}:{password}@localhost:5432/Fannie_Mae')
# connection= engine.connect()

In [26]:
# df.to_sql('loans', con=connection, if_exists='append', chunksize=100000, index=False)