# 2016 Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("max_rows", None)
pd.set_option('max_columns', 999)
import warnings
warnings.filterwarnings('ignore')

In [4]:
filename = '../combined_data.csv'
df = pd.read_csv(filename, index_col=0)

In [5]:
df.shape

(8283489, 23)

In [6]:
df.head()

,Unnamed: 0.1,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,Co-Borrower Credit Score at Origination,First Time Home Buyer Indicator,Amortization Type,Current Loan Delinquency Status,Modification Flag,Foreclosure Date,Home Ready Program Indicator,High Balance Loan Indicator,Borrower Assistance Plan
0,0,100000512540,122020,3.750,3.750,65000.0,360.0,122015.0,59.0,12046.0,74.0,1.0,31.0,814.0,NaN,N,FRM,0,N,NaN,N,N,7
1,1,100000549022,122020,4.000,4.000,153000.0,360.0,12016.0,58.0,22046.0,95.0,2.0,17.0,788.0,794.0,N,FRM,0,N,NaN,N,N,N
2,2,100003006281,112020,3.625,3.625,114000.0,360.0,32016.0,54.0,42046.0,95.0,2.0,37.0,745.0,761.0,Y,FRM,0,N,NaN,N,N,7
3,3,100003784303,122020,3.875,3.875,150000.0,360.0,32016.0,56.0,42046.0,70.0,2.0,16.0,810.0,813.0,N,FRM,0,N,NaN,N,N,7
4,4,100004643080,122020,4.250,4.250,40000.0,360.0,122015.0,59.0,12046.0,24.0,2.0,36.0,755.0,773.0,N,FRM,0,N,NaN,N,N,7

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8283489 entries, 0 to 690017
Data columns (total 23 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   Unnamed: 0.1                             int64
 1   Loan Identifier                          int64
 2   Monthly Reporting Period                 int64
 3   Original Interest Rate                   float64
 4   Current Interest Rate                    float64
 5   Original UPB                             float64
 6   Original Loan Term                       float64
 7   Origination Date                         float64
 8   Loan Age                                 float64
 9   Maturity Date                            float64
 10  Original Loan to Value Ratio (LTV)       float64
 11  Number of Borrowers                      float64
 12  Debt-To-Income (DTI)                     float64
 13  Borrower Credit Score at Origination     float64
 14  Co-Borrower Credit Score at Origination  float64
 15  First Time Home Buyer Indicator          object
 16  Amortization Type                        object
 17  Current Loan Delinquency Status          int64
 18  Modification Flag                        object
 19  Foreclosure Date                         float64
 20  Home Ready Program Indicator             object
 21  High Balance Loan Indicator              object
 22  Borrower Assistance Plan                 object
dtypes: float64(13), int64(4), object(6)
memory usage: 1.5+ GB

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Loan Identifier',
       'Monthly Reporting Period', 'Original Interest Rate',
       'Current Interest Rate', 'Original UPB', 'Original Loan Term',
       'Origination Date', 'Loan Age', 'Maturity Date',
       'Original Loan to Value Ratio (LTV)', 'Number of Borrowers',
       'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination',
       'Co-Borrower Credit Score at Origination',
       'First Time Home Buyer Indicator', 'Amortization Type',
       'Current Loan Delinquency Status', 'Modification Flag',
       'Foreclosure Date', 'Home Ready Program Indicator',
       'High Balance Loan Indicator', 'Borrower Assistance Plan'],
      dtype='object')

In [6]:
# Remove two columns name is 'Unnamed: 0' and 'Unnamed: 0.1'
# df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1, inplace=True)

In [7]:
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,Co-Borrower Credit Score at Origination,First Time Home Buyer Indicator,Amortization Type,Current Loan Delinquency Status,Modification Flag,Foreclosure Date,Home Ready Program Indicator,High Balance Loan Indicator,Borrower Assistance Plan
0,100000512540,122020,3.750,3.750,65000.0,360.0,122015.0,59.0,12046.0,74.0,1.0,31.0,814.0,NaN,N,FRM,0,N,NaN,N,N,7
1,100000549022,122020,4.000,4.000,153000.0,360.0,12016.0,58.0,22046.0,95.0,2.0,17.0,788.0,794.0,N,FRM,0,N,NaN,N,N,N
2,100003006281,112020,3.625,3.625,114000.0,360.0,32016.0,54.0,42046.0,95.0,2.0,37.0,745.0,761.0,Y,FRM,0,N,NaN,N,N,7
3,100003784303,122020,3.875,3.875,150000.0,360.0,32016.0,56.0,42046.0,70.0,2.0,16.0,810.0,813.0,N,FRM,0,N,NaN,N,N,7
4,100004643080,122020,4.250,4.250,40000.0,360.0,122015.0,59.0,12046.0,24.0,2.0,36.0,755.0,773.0,N,FRM,0,N,NaN,N,N,7

In [8]:
# Fill na values for Modification Flag
df['Modification Flag'].fillna('N', inplace=True)

In [9]:
df['Modification Flag'].value_counts()

N    8255417
Y      28072
Name: Modification Flag, dtype: int64

In [10]:
# calculate minimum credit score using Borrower and Co-borrower score columns
df['Minimum Credit Score'] = df[['Borrower Credit Score at Origination',
                                 'Co-Borrower Credit Score at Origination']].min(axis=1)

In [11]:
for i in df.columns:
    tot = sum(df[i].isnull())
    print(f"{i}: total of {tot} nulls- {round(((tot / len(df)) * 100), 2)}%")

Loan Identifier: total of 0 nulls- 0.0%
Monthly Reporting Period: total of 0 nulls- 0.0%
Original Interest Rate: total of 41 nulls- 0.0%
Current Interest Rate: total of 0 nulls- 0.0%
Original UPB: total of 41 nulls- 0.0%
Original Loan Term: total of 41 nulls- 0.0%
Origination Date: total of 41 nulls- 0.0%
Loan Age: total of 0 nulls- 0.0%
Maturity Date: total of 0 nulls- 0.0%
Original Loan to Value Ratio (LTV): total of 41 nulls- 0.0%
Number of Borrowers: total of 41 nulls- 0.0%
Debt-To-Income (DTI): total of 668 nulls- 0.01%
Borrower Credit Score at Origination: total of 6114 nulls- 0.07%
Co-Borrower Credit Score at Origination: total of 4373161 nulls- 52.79%
First Time Home Buyer Indicator: total of 41 nulls- 0.0%
Amortization Type: total of 0 nulls- 0.0%
Current Loan Delinquency Status: total of 0 nulls- 0.0%
Modification Flag: total of 0 nulls- 0.0%
Foreclosure Date: total of 8279621 nulls- 99.95%
Home Ready Program Indicator: total of 0 nulls- 0.0%
High Balance Loan Indicator: total of 0 nulls- 0.0%
Borrower Assistance Plan: total of 0 nulls- 0.0%
Minimum Credit Score: total of 4185 nulls- 0.05%

In [12]:
df['Foreclosure Date'].value_counts()

12020.0     219
112019.0    213
72019.0     211
22020.0     186
122019.0    166
32020.0     163
102019.0    163
82019.0     151
92019.0     146
32019.0     145
52019.0     138
62019.0     135
42019.0     125
22019.0     112
12019.0     100
92020.0      98
112018.0     96
122018.0     82
82018.0      79
102020.0     77
72018.0      76
102018.0     74
62018.0      69
82020.0      68
72020.0      65
62020.0      61
122020.0     58
92018.0      58
52018.0      57
112020.0     53
32018.0      51
42018.0      42
12018.0      42
52020.0      41
42020.0      38
22018.0      36
112017.0     27
92017.0      22
62017.0      21
102017.0     20
122017.0     19
82017.0      16
72017.0      12
52017.0       8
42017.0       7
32017.0       5
12021.0       4
112016.0      3
22017.0       3
12017.0       3
102016.0      2
22021.0       1
92016.0       1
Name: Foreclosure Date, dtype: int64

In [13]:
df['Current Loan Delinquency Status'].value_counts()

0     8002813
1       64228
9       52251
8       34526
2       23857
7       19113
3       18327
6       16793
5       16753
4       15833
10       7282
11       2342
12       1570
13       1291
14       1117
15        960
16        737
17        681
18        519
19        474
20        345
21        297
22        232
23        193
24        179
25        111
26        107
27         85
28         78
29         63
30         54
31         48
32         42
34         33
36         25
33         22
35         19
38         16
37         14
42         11
40         11
44          7
41          5
39          5
45          5
46          3
47          3
48          3
51          2
43          1
49          1
50          1
54          1
Name: Current Loan Delinquency Status, dtype: int64

In [14]:
# Drop Co-borrower and borrower score columns
df.drop(df[['Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination']], axis=1, inplace=True)

In [15]:
# F T R to be on plan
def check_plan(x):
    if x in ['F', 'T', 'R']:
        return 1
    return 0

In [16]:
df['On Assistance Plan'] = df['Borrower Assistance Plan'].apply(lambda x : check_plan(x))

In [17]:
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Current Loan Delinquency Status,Modification Flag,Foreclosure Date,Home Ready Program Indicator,High Balance Loan Indicator,Borrower Assistance Plan,Minimum Credit Score,On Assistance Plan
0,100000512540,122020,3.750,3.750,65000.0,360.0,122015.0,59.0,12046.0,74.0,1.0,31.0,N,FRM,0,N,NaN,N,N,7,814.0,0
1,100000549022,122020,4.000,4.000,153000.0,360.0,12016.0,58.0,22046.0,95.0,2.0,17.0,N,FRM,0,N,NaN,N,N,N,788.0,0
2,100003006281,112020,3.625,3.625,114000.0,360.0,32016.0,54.0,42046.0,95.0,2.0,37.0,Y,FRM,0,N,NaN,N,N,7,745.0,0
3,100003784303,122020,3.875,3.875,150000.0,360.0,32016.0,56.0,42046.0,70.0,2.0,16.0,N,FRM,0,N,NaN,N,N,7,810.0,0
4,100004643080,122020,4.250,4.250,40000.0,360.0,122015.0,59.0,12046.0,24.0,2.0,36.0,N,FRM,0,N,NaN,N,N,7,755.0,0

In [18]:
# Dropping Borrower Assistance Plan
df.drop(columns='Borrower Assistance Plan', inplace=True)

In [19]:
df['On Assistance Plan'].value_counts()

0    8060816
1     222673
Name: On Assistance Plan, dtype: int64

In [20]:
# df['Current Loan Delinquency Status'] >= 4 and not on df['On Assistance Plan'], foreclosed = 1 (True)
# create a list of our conditions
conditions = [
    (df['Current Loan Delinquency Status'] >= 4) &
    (df['On Assistance Plan'] == 0), 
    (df['Foreclosure Date'].notnull())
    ]
# create a list of the values we want to assign for each condition
values = [1,1]
# create a new column and use np.select to assign values to it using our lists as arguments
df['Foreclosed'] = np.select(conditions, values)

In [21]:
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Current Loan Delinquency Status,Modification Flag,Foreclosure Date,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,On Assistance Plan,Foreclosed
0,100000512540,122020,3.750,3.750,65000.0,360.0,122015.0,59.0,12046.0,74.0,1.0,31.0,N,FRM,0,N,NaN,N,N,814.0,0,0
1,100000549022,122020,4.000,4.000,153000.0,360.0,12016.0,58.0,22046.0,95.0,2.0,17.0,N,FRM,0,N,NaN,N,N,788.0,0,0
2,100003006281,112020,3.625,3.625,114000.0,360.0,32016.0,54.0,42046.0,95.0,2.0,37.0,Y,FRM,0,N,NaN,N,N,745.0,0,0
3,100003784303,122020,3.875,3.875,150000.0,360.0,32016.0,56.0,42046.0,70.0,2.0,16.0,N,FRM,0,N,NaN,N,N,810.0,0,0
4,100004643080,122020,4.250,4.250,40000.0,360.0,122015.0,59.0,12046.0,24.0,2.0,36.0,N,FRM,0,N,NaN,N,N,755.0,0,0

In [22]:
df.drop(df[['Current Loan Delinquency Status', 'On Assistance Plan', 'Foreclosure Date']], axis=1, inplace=True)

In [23]:
df.shape

(8283489, 19)

In [24]:
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,122020,3.750,3.750,65000.0,360.0,122015.0,59.0,12046.0,74.0,1.0,31.0,N,FRM,N,N,N,814.0,0
1,100000549022,122020,4.000,4.000,153000.0,360.0,12016.0,58.0,22046.0,95.0,2.0,17.0,N,FRM,N,N,N,788.0,0
2,100003006281,112020,3.625,3.625,114000.0,360.0,32016.0,54.0,42046.0,95.0,2.0,37.0,Y,FRM,N,N,N,745.0,0
3,100003784303,122020,3.875,3.875,150000.0,360.0,32016.0,56.0,42046.0,70.0,2.0,16.0,N,FRM,N,N,N,810.0,0
4,100004643080,122020,4.250,4.250,40000.0,360.0,122015.0,59.0,12046.0,24.0,2.0,36.0,N,FRM,N,N,N,755.0,0

In [25]:
df['Foreclosed'].value_counts()

0    8260646
1      22843
Name: Foreclosed, dtype: int64

In [26]:
df.dtypes

Loan Identifier                         int64
Monthly Reporting Period                int64
Original Interest Rate                float64
Current Interest Rate                 float64
Original UPB                          float64
Original Loan Term                    float64
Origination Date                      float64
Loan Age                              float64
Maturity Date                         float64
Original Loan to Value Ratio (LTV)    float64
Number of Borrowers                   float64
Debt-To-Income (DTI)                  float64
First Time Home Buyer Indicator        object
Amortization Type                      object
Modification Flag                      object
Home Ready Program Indicator           object
High Balance Loan Indicator            object
Minimum Credit Score                  float64
Foreclosed                              int32
dtype: object

In [27]:
df[['Monthly Reporting Period',
        'Origination Date', 
        'Maturity Date']]  = df[['Monthly Reporting Period',
                                    'Origination Date', 
                                    'Maturity Date']].astype('str')

In [28]:
df.dtypes

Loan Identifier                         int64
Monthly Reporting Period               object
Original Interest Rate                float64
Current Interest Rate                 float64
Original UPB                          float64
Original Loan Term                    float64
Origination Date                       object
Loan Age                              float64
Maturity Date                          object
Original Loan to Value Ratio (LTV)    float64
Number of Borrowers                   float64
Debt-To-Income (DTI)                  float64
First Time Home Buyer Indicator        object
Amortization Type                      object
Modification Flag                      object
Home Ready Program Indicator           object
High Balance Loan Indicator            object
Minimum Credit Score                  float64
Foreclosed                              int32
dtype: object

In [29]:
df['Monthly Reporting Period'].value_counts()

122020    4889631
102020     222130
92020      212781
62020      210374
72020      207156
82020      202428
112020     191639
42020      190716
52020      185857
32020      148250
102019     120442
92019      108545
22020       98097
122019      96728
112019      96643
82019       93704
72019       85718
12020       83728
52019       62096
62019       61565
42019       50808
32019       39058
82018       33275
72018       30999
102018      30721
62018       30496
22019       29739
52018       29311
92018       27242
112018      27212
122018      26075
42018       24906
12019       24714
102017      24362
32018       24345
122017      22395
112017      22159
92017       20340
82017       20245
12018       20169
22018       19306
72017       17024
62017       17004
52017       13740
112016      10303
42017       10035
32017        9588
102016       9409
122016       9020
92016        8963
82016        8380
12017        6435
22017        6417
72016        4322
62016        3078
52016        1923
42016        1038
32016         563
22016         142
Name: Monthly Reporting Period, dtype: int64

In [30]:
df['Monthly Reporting Period'] = pd.to_datetime(df['Monthly Reporting Period'],format='%m%Y')

In [31]:
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,3.750,65000.0,360.0,122015.0,59.0,12046.0,74.0,1.0,31.0,N,FRM,N,N,N,814.0,0
1,100000549022,2020-12-01,4.000,4.000,153000.0,360.0,12016.0,58.0,22046.0,95.0,2.0,17.0,N,FRM,N,N,N,788.0,0
2,100003006281,2020-11-01,3.625,3.625,114000.0,360.0,32016.0,54.0,42046.0,95.0,2.0,37.0,Y,FRM,N,N,N,745.0,0
3,100003784303,2020-12-01,3.875,3.875,150000.0,360.0,32016.0,56.0,42046.0,70.0,2.0,16.0,N,FRM,N,N,N,810.0,0
4,100004643080,2020-12-01,4.250,4.250,40000.0,360.0,122015.0,59.0,12046.0,24.0,2.0,36.0,N,FRM,N,N,N,755.0,0

In [32]:
 # new data frame with split value columns
df['Origination Date'] = df['Origination Date'].str.split(".", n = 1, expand = True)

In [33]:
df['Origination Date'] = pd.to_datetime(df['Origination Date'],format='%m%Y')

In [34]:
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,3.750,65000.0,360.0,2015-12-01,59.0,12046.0,74.0,1.0,31.0,N,FRM,N,N,N,814.0,0
1,100000549022,2020-12-01,4.000,4.000,153000.0,360.0,2016-01-01,58.0,22046.0,95.0,2.0,17.0,N,FRM,N,N,N,788.0,0
2,100003006281,2020-11-01,3.625,3.625,114000.0,360.0,2016-03-01,54.0,42046.0,95.0,2.0,37.0,Y,FRM,N,N,N,745.0,0
3,100003784303,2020-12-01,3.875,3.875,150000.0,360.0,2016-03-01,56.0,42046.0,70.0,2.0,16.0,N,FRM,N,N,N,810.0,0
4,100004643080,2020-12-01,4.250,4.250,40000.0,360.0,2015-12-01,59.0,12046.0,24.0,2.0,36.0,N,FRM,N,N,N,755.0,0

In [35]:
 # new data frame with split value columns
df['Maturity Date'] = df['Maturity Date'].str.split(".", n = 1, expand = True)
df['Maturity Date'] = pd.to_datetime(df['Maturity Date'], format='%m%Y')
df.head()

,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,Original Loan Term,Origination Date,Loan Age,Maturity Date,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),First Time Home Buyer Indicator,Amortization Type,Modification Flag,Home Ready Program Indicator,High Balance Loan Indicator,Minimum Credit Score,Foreclosed
0,100000512540,2020-12-01,3.750,3.750,65000.0,360.0,2015-12-01,59.0,2046-01-01,74.0,1.0,31.0,N,FRM,N,N,N,814.0,0
1,100000549022,2020-12-01,4.000,4.000,153000.0,360.0,2016-01-01,58.0,2046-02-01,95.0,2.0,17.0,N,FRM,N,N,N,788.0,0
2,100003006281,2020-11-01,3.625,3.625,114000.0,360.0,2016-03-01,54.0,2046-04-01,95.0,2.0,37.0,Y,FRM,N,N,N,745.0,0
3,100003784303,2020-12-01,3.875,3.875,150000.0,360.0,2016-03-01,56.0,2046-04-01,70.0,2.0,16.0,N,FRM,N,N,N,810.0,0
4,100004643080,2020-12-01,4.250,4.250,40000.0,360.0,2015-12-01,59.0,2046-01-01,24.0,2.0,36.0,N,FRM,N,N,N,755.0,0

In [36]:
df.dtypes

Loan Identifier                                int64
Monthly Reporting Period              datetime64[ns]
Original Interest Rate                       float64
Current Interest Rate                        float64
Original UPB                                 float64
Original Loan Term                           float64
Origination Date                      datetime64[ns]
Loan Age                                     float64
Maturity Date                         datetime64[ns]
Original Loan to Value Ratio (LTV)           float64
Number of Borrowers                          float64
Debt-To-Income (DTI)                         float64
First Time Home Buyer Indicator               object
Amortization Type                             object
Modification Flag                             object
Home Ready Program Indicator                  object
High Balance Loan Indicator                   object
Minimum Credit Score                         float64
Foreclosed                                     int32
dtype: object

In [37]:
df[df['Origination Date'] == 'n']

Empty DataFrame
Columns: [Loan Identifier, Monthly Reporting Period, Original Interest Rate, Current Interest Rate, Original UPB, Original Loan Term, Origination Date, Loan Age, Maturity Date, Original Loan to Value Ratio (LTV), Number of Borrowers, Debt-To-Income (DTI), First Time Home Buyer Indicator, Amortization Type, Modification Flag, Home Ready Program Indicator, High Balance Loan Indicator, Minimum Credit Score, Foreclosed]
Index: []

In [38]:
for i in df.columns:
    tot = sum(df[i].isnull())
    print(f"{i}: total of {tot} nulls- {round(((tot / len(df)) * 100), 2)}%")

Loan Identifier: total of 0 nulls- 0.0%
Monthly Reporting Period: total of 0 nulls- 0.0%
Original Interest Rate: total of 41 nulls- 0.0%
Current Interest Rate: total of 0 nulls- 0.0%
Original UPB: total of 41 nulls- 0.0%
Original Loan Term: total of 41 nulls- 0.0%
Origination Date: total of 41 nulls- 0.0%
Loan Age: total of 0 nulls- 0.0%
Maturity Date: total of 0 nulls- 0.0%
Original Loan to Value Ratio (LTV): total of 41 nulls- 0.0%
Number of Borrowers: total of 41 nulls- 0.0%
Debt-To-Income (DTI): total of 668 nulls- 0.01%
First Time Home Buyer Indicator: total of 41 nulls- 0.0%
Amortization Type: total of 0 nulls- 0.0%
Modification Flag: total of 0 nulls- 0.0%
Home Ready Program Indicator: total of 0 nulls- 0.0%
High Balance Loan Indicator: total of 0 nulls- 0.0%
Minimum Credit Score: total of 4185 nulls- 0.05%
Foreclosed: total of 0 nulls- 0.0%

In [39]:
df.dropna(inplace=True)

In [40]:
df.shape

(8278657, 19)

In [41]:
for i in df.columns:
    tot = sum(df[i].isnull())
    print(f"{i}: total of {tot} nulls- {round(((tot / len(df)) * 100), 2)}%")

Loan Identifier: total of 0 nulls- 0.0%
Monthly Reporting Period: total of 0 nulls- 0.0%
Original Interest Rate: total of 0 nulls- 0.0%
Current Interest Rate: total of 0 nulls- 0.0%
Original UPB: total of 0 nulls- 0.0%
Original Loan Term: total of 0 nulls- 0.0%
Origination Date: total of 0 nulls- 0.0%
Loan Age: total of 0 nulls- 0.0%
Maturity Date: total of 0 nulls- 0.0%
Original Loan to Value Ratio (LTV): total of 0 nulls- 0.0%
Number of Borrowers: total of 0 nulls- 0.0%
Debt-To-Income (DTI): total of 0 nulls- 0.0%
First Time Home Buyer Indicator: total of 0 nulls- 0.0%
Amortization Type: total of 0 nulls- 0.0%
Modification Flag: total of 0 nulls- 0.0%
Home Ready Program Indicator: total of 0 nulls- 0.0%
High Balance Loan Indicator: total of 0 nulls- 0.0%
Minimum Credit Score: total of 0 nulls- 0.0%
Foreclosed: total of 0 nulls- 0.0%

In [42]:
df.to_csv('processing_complted.csv')